@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8
}

.header {
    background: #1F2937;
    font-size: 18px;
    color: #F9FAF8;
    padding: 16px;
}

.left_header {
    font-size: 24px;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.top_row {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 100px;
}

.bottom_row {
    display: flex;
    margin: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1 1 0px;
}

.placeholder {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex: 1 0 0px;
}

button {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 5px 16px;
}