@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8
}

/* Header section parameters: */
.header {
    background: #1F2937;
    color: #F9FAF8;
    padding-bottom: 16px;
}

.header .left {
    font-size: 24px;
}

.header .title {
    font-size: 48px;
    font-weight: bold;
}

.header .top_row {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 100px;
}

.header .bottom_row {
    display: flex;
    margin: 100px;
}

.header .container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1 1 0px;
}

.header .placeholder {
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex: 1 0 0px;
}

.header button {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    padding: 5px 16px;
}

/* Info section parameters: */
.info .title {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 100px 100px;
    padding: 32px;
}

.info .box {
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-width: 5px;
    margin: 0;
    border-radius: 20px;
}

.info .text {
    max-width: 150px;
    text-align: center;
    color: #1F2937;
    font-size: 18px;
    margin-top: 5px;
}

/* Quote section parameters: */

.quote {
    padding: 16px;
    background-color: #E5E7EB;
}

.quote .text {
    display: flex;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    padding: 32px 32px 0px 32px;
    font-weight: 200;
    margin: 100px 100px 0px 100px;
}

.quote .author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin: 8px 100px 100px 100px;
    padding: 0px 32px 0px 0px;
}

/* Action section parameters: */

.action {
    margin: 100px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 32px;
    color: #F9FAF8;
}
.action .title {
    font-size: 24px;
    font-weight: bold;
}

.action .box {
    display: flex;
    align-items: center;
}
.action .container{
    display: flex;
    flex-direction: column;
    flex: 3 0 0px;
}

.action .button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 26px;
    flex: 1 0 0px;
    padding: 16px;
}

.action button {
    background-color: #3882F6;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    border: solid #F9FAF8;
    border-width: 1px;
    border-radius: 8px;
    padding: 5px 16px;
}

/* Footer section parameters: */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
    font-size: 18px;
}

/* General styles: */

.text {
    font-size: 18px;
}